.constaner_data {
  padding: 0 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  width: 100%;
}

input {
  width: 400px;
  padding: 10px;
  font-size: 17px;
  margin: 25px auto;
  outline: none;
  border-radius: 7px;
}

.img,
img {
  border-radius: 50%;
  border: 2px solid #35bdd0;
  padding: 7px;
}

@media only screen and (max-width: 780px) {
  .gender {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .phone {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
  .phone {
    display: none;
  }
  .img {
    width: 50px;
    height: 50px;
    border: 1px solid #35bdd0;
    padding: 4px;
  }
  td {
    font-size: 12px;
  }
  input {
    width: 300px;
    font-size: 15px;
    margin: 15px auto;
  }
}

#popup_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
  display: none;
}

.popup_container_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #03203c;
  width: 350px;
  height: 350px;
  z-index: 2;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid #242b2e;
  border-radius: 15px;
}

.popup_crose {
  position: absolute;
  width: 25px;
  height: 29px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: #242b2e;
  border-radius: 7px;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
}
